body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;    
}
span,dt{
    font-weight: bold;
    white-space: pre;
}
div{
    white-space: pre;    
}
a{
    color:blue;
}
dd{
    text-indent:0;
    margin:0px;
}